# Backend Webhook Endpoint
PUBLIC_N8N_WEBHOOK_URL=https://n8n.terato.my.id/webhook/50e27e1d-f8f3-43e8-a1a8-53fa5eafecdf

# Static Media Asset URL
PUBLIC_MEDIA_BASE_URL=https://files.lingkungansehatasri.my.id

# App Version
PUBLIC_APP_VERSION=3.0.0
